@model PageViewModel

@{
    Layout = Model.LayoutName;
    ViewData["BrandingAssetsCdn"] = Model.BrandingAssetsCdn;
    ViewData["Title"] = Model.PageTitle;

    ViewData["VersionedPathForMainMinCss"] = Model.VersionedPathForMainMinCss;
    ViewData["VersionedPathForGovukMinCss"] = Model.VersionedPathForGovukMinCss;
    ViewData["VersionedPathForAllIe8Css"] = Model.VersionedPathForAllIe8Css;
    ViewData["VersionedPathForJQueryBundleMinJs"] = Model.VersionedPathForJQueryBundleMinJs;
    ViewData["VersionedPathForAllMinJs"] = Model.VersionedPathForAllMinJs;
    ViewData["VersionedPathForDfcDigitalMinJs"] = Model.VersionedPathForDfcDigitalMinJs;
}

@{
    DefineSection("Head", async (a) =>
    {
        this.WriteLiteral("<title>Error | Explore careers | National Careers Service</title>");
    });
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/explore-careers">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">Error</li>
                </ol>
            </div>

            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

            <p>If you typed the web address or used a bookmark, check it is correct.</p>
            <p>If you pasted the web address, check you copied the whole address.</p>
            <p>If the web address is correct you can <a href="/contact-us">contact us</a> to get help using this service or call 0800 100 900, 8am to 10pm, 7 days a week.</p>
        </div>
    </div>
</div>
