@model PageViewModel

@{
    Layout = Model.LayoutName;
    ViewData["Branding"] = Model.Branding;
    ViewData["BrandingAssetsCdn"] = Model.BrandingAssetsCdn;
    ViewData["Title"] = Model.PageTitle;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <p class="govuk-body">
            Composite UI Shell.
        </p>
    </div>
</div>
