@model PageViewModel

@{
    Layout = Model.LayoutName;
    ViewData["BrandingAssetsCdn"] = Model.BrandingAssetsCdn;
    ViewData["Title"] = Model.PageTitle;

    ViewData["VersionedPathForMainMinCss"] = Model.VersionedPathForMainMinCss;
    ViewData["VersionedPathForGovukMinCss"] = Model.VersionedPathForGovukMinCss;
    ViewData["VersionedPathForAllIe8Css"] = Model.VersionedPathForAllIe8Css;
    ViewData["VersionedPathForJQueryBundleMinJs"] = Model.VersionedPathForJQueryBundleMinJs;
    ViewData["VersionedPathForAllMinJs"] = Model.VersionedPathForAllMinJs;
    ViewData["VersionedPathForDfcDigitalMinJs"] = Model.VersionedPathForDfcDigitalMinJs;
    ViewData["VersionedPathForCompUiMinJs"] = Model.VersionedPathForCompUiMinJs;
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Your session has timed out</h1>

            <p class="govuk-body">
                We've signed you out for security reasons. <a href="/auth/signin?redirectUrl=@ViewData["RedirectUrl"]">Sign in</a> again to continue.
            </p>
        </div>
    </div>
</div>