@model DFC.Composite.Shell.ViewComponents.ListPathsViewModel

@if (Model != null && Model.Paths != null)
{
    @foreach (var path in Model.Paths.OrderBy(x => x.TopNavigationOrder))
    {
        <li class="govuk-header__navigation-item">
            <a href="~/@path.Path" class="nav-link text-dark">@path.TopNavigationText</a>
        </li>
    }
}