@model DFC.Composite.Shell.ViewComponents.ListPathsViewModel
<nav>
    <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        @if (Model?.Paths?.Count() > 0)
        {
            @foreach (var path in Model.Paths.OrderBy(x => x.TopNavigationOrder))
            {<li class="govuk-header__navigation-item"><a href="~/@path.Path" class="govuk-header__link" target="_self">@path.TopNavigationText</a></li>}
        }
    </ul>
</nav>
