@model DFC.Composite.Shell.ViewComponents.ListPathsViewModel
<nav>
    <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        @if (Model?.AppRegistrationModels?.Count() > 0)
        {
            @foreach (var appRegistrationModelGroup in Model.AppRegistrationModels.GroupBy(x => x.TopNavigationText))
            {
                var appRegistrationModel = appRegistrationModelGroup.OrderBy(x => x.TopNavigationOrder).First();
                var applyActiveClass = appRegistrationModelGroup.Any(a => Context.Request.Path.Value.Contains(a.Path));
                var menuClass = applyActiveClass ? "govuk-header__navigation-item--active" : string.Empty;
                <li class="govuk-header__navigation-item @menuClass"><a href="~/@appRegistrationModel.Path" class="govuk-header__link" target="_self">@appRegistrationModel.TopNavigationText</a></li>
            }
        }
    </ul>
</nav>
