@using System.Security.Claims


@{
    var userName = User.Identity.Name;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
                <div>
                    <span class="govuk-link" id="bannerUserName">Welcome @userName</span>
                    <a class="account-link" href="/auth/signout" id="signout-link">Sign out</a>
                </div>
                <div>
                    <a class="account-link" href="/your-account/home" id="myaccount-link">Your account</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <div class="govuk-header__navigation--end">
                <div>
                    <a class="account-link" href="/auth/signin" id="signout-link">Sign in</a>
                </div>
            </div>
        </div>
    </div>
}