@using System.Security.Claims


@{
    var userName = User.Identity.Name;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="dfc-composite-shell-account-info">
        <div>
            <span class="govuk-link" id="bannerUserName">Welcome @userName</span>
            <a href="/auth/signout" id="signout-link">Sign out</a>
        </div>
        <div>
            <a href="/your-account/home" id="myaccount-link">Your account</a>
        </div>
    </div>

}
else
{

    <div class="dfc-composite-shell-account-info">
        <div>
            <a class="account-link" href="/auth/signin" id="signout-link">Sign in</a>
            <a href="/auth/register" id="signout-link">Create account</a>
        </div>
    </div>

}