<div id="global-cookie-message" class="app-cookie-banner js-cookie-banner">
    <p class="govuk-width-container">Explore careers uses cookies to make the site simpler. <a href="/help/cookies">Find out more about cookies</a></p>
</div>
