<div id="global-cookie-banner" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="">
    <div id="cookie-message" class="gem-c-cookie-banner__wrapper govuk-width-container">
        <div class="govuk-grid-row">
            <div class=" govuk-grid-column-two-thirds">
                <div class="gem-c-cookie-banner__message">
                    <span class="govuk-heading-m">Tell us whether you accept cookies</span>
                    <p class="govuk-body">
                        We use <a class="govuk-link" href="/help/cookie-settings/">cookies to collect information</a> about how you use the National Careers Service. This information is used to make the website work as well as possible and improve our services.
                    </p>
                </div><div class="govuk-form-group gem-c-cookie-banner__buttons">
                    <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept govuk-grid-column-full govuk-grid-column-one-half-from-desktop"><button id="accept-all-cookies" class="govuk-button" type="button" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted">Accept all cookies</button></div><div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                        <a id="set-cookie-preference" class="govuk-button gem-c-button gem-c-button--inline" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="/help/cookie-settings/">Set cookie preferences</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="confirmatiom-message" class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1">
        <p class="govuk-body gem-c-cookie-banner__confirmation-message">
            You’ve accepted all cookies. You can <a class="govuk-link" href="/help/cookie-settings/" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any
            time.
        </p><button id="hide-cookies-message" class="govuk-link gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
    </div>
</div>