<div class="govuk-grid-row" id="popupsurvey" data-name="sitewideSurvey">
    <div class="survey-container">
        <div class="flex-row" style="justify-content: space-between;">
            <p class="govuk-heading-s text-light" style="align-self: flex-start;">Rate your experience</p>
            <a id="exitbtn" class="govuk-heading-s text-light exitbtn" style="cursor: pointer;" aria-label="Close survey" tabindex="0">⛌ Close</a>
        </div>
        <p class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_424="343" data-gtm-vis-first-on-screen-8675592_424="343" data-gtm-vis-total-visible-time-8675592_424="100" data-gtm-vis-has-fired-8675592_424="1" data-gtm-vis-recent-on-screen-8675592_495="373" data-gtm-vis-first-on-screen-8675592_495="373" data-gtm-vis-total-visible-time-8675592_495="100" data-gtm-vis-has-fired-8675592_495="1" data-gtm-vis-recent-on-screen-8675592_422="1209" data-gtm-vis-first-on-screen-8675592_422="1209" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1" style="" data-gtm-vis-recent-on-screen-8675592_194="551" data-gtm-vis-first-on-screen-8675592_194="551" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1"> How satisfied are you with the website?</p>
        <div class="rating flex-row" name="2" style="flex-direction: row-reverse; justify-content: center;">
            <a id="exitBtn5Stars" class="5 stars" name="Very Satisfied" aria-label="Very Satisfied (5 Stars)" tabindex="0">★</a>
            <a id="exitBtn4Stars" class="4 stars" name="Satisfied" aria-label="Satisfied (4 Stars)" tabindex="0">★</a>
            <a id="exitBtn3Stars" class="3 stars" name="Neutral" aria-label="Neutral (3 Stars)" tabindex="0">★</a>
            <a id="exitBtn2Stars" class="2 stars" name="Unsatisfied" aria-label="Unsatisfied (2 Stars)" tabindex="0">★</a>
            <a id="exitBtn1Stars" class="1 stars" name="Very Unsatisfied" aria-label="Very Unsatisfied (1 Star)" tabindex="0">★</a>
        </div>
    </div>
</div>

<!--WEBSITE FEEDBACK SNIPPET-->
<script type='text/javascript' nws-csp-add-nonce="true">
    (function () {
        var g = function (e, h, f, g) {
            this.get = function (a) { for (var a = a + "=", c = document.cookie.split(";"), b = 0, e = c.length; b < e; b++) { for (var d = c[b]; " " == d.charAt(0);)d = d.substring(1, d.length); if (0 == d.indexOf(a)) return d.substring(a.length, d.length) } return null };
            this.set = function (a, c) { var b = "", b = new Date; b.setTime(b.getTime() + 6048E5); b = "; expires=" + b.toGMTString(); document.cookie = a + "=" + c + b + "; path=/; " };
            this.check = function () { var a = this.get(f); if (a) a = a.split(":"); else if (100 != e) "v" == h && (e = Math.random() >= e / 100 ? 0 : 100), a = [h, e, 0], this.set(f, a.join(":")); else return !0; var c = a[1]; if (100 == c) return !0; switch (a[0]) { case "v": return !1; case "r": return c = a[2] % Math.floor(100 / c), a[2]++, this.set(f, a.join(":")), !c }return !0 };
            this.go = function () { if (this.check()) { var a = document.createElement("script"); a.type = "text/javascript"; a.src = g; document.body && document.body.appendChild(a) } };
            this.start = function () { var t = this; "complete" !== document.readyState ? window.addEventListener ? window.addEventListener("load", function () { t.go() }, !1) : window.attachEvent && window.attachEvent("onload", function () { t.go() }) : t.go() };
        };
        try { (new g(100, "r", "QSI_S_ZN_b2zXf796xcBIHwq", "https://znb2zxf796xcbihwq-depedpilot.siteintercept.qualtrics.com/SIE/?Q_ZID=ZN_b2zXf796xcBIHwq")).start() } catch (i) { }
    })();
</script>
<div id='ZN_b2zXf796xcBIHwq'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>
<!--END WEBSITE FEEDBACK SNIPPET-->

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>

                @await Component.InvokeAsync("ShowHelpLinks")

                <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" target="_blank" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="noopener noreferrer license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" target="_blank" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" rel="noopener noreferrer">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
