<div class="govuk-grid-row" id="popupsurvey" style="position: sticky; bottom: 0px !important; background-color: rgb(255, 255, 255) !important;">
    <div class="govuk-grid-column-one-quarter-from-desktop"><p></p></div>
    <div class="govuk-grid-column-one-half-from-desktop" id="popupsurvey" style="border-top: 5px solid; text-align: center; display: block; position: sticky; bottom: 0px !important; background-color: white !important;">
        <div id="exitbtn" class="exitbtn" style="cursor: pointer;"><p class="govuk-heading-s text-light exitbtn" style="float: right;">⛌ Close</p></div>
        <form>


            <p class="govuk-heading-s text-light" style="text-align: left;">Rate your experience</p>

            <p class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_424="343" data-gtm-vis-first-on-screen-8675592_424="343" data-gtm-vis-total-visible-time-8675592_424="100" data-gtm-vis-has-fired-8675592_424="1" data-gtm-vis-recent-on-screen-8675592_495="373" data-gtm-vis-first-on-screen-8675592_495="373" data-gtm-vis-total-visible-time-8675592_495="100" data-gtm-vis-has-fired-8675592_495="1" data-gtm-vis-recent-on-screen-8675592_422="1209" data-gtm-vis-first-on-screen-8675592_422="1209" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1" style="" data-gtm-vis-recent-on-screen-8675592_194="551" data-gtm-vis-first-on-screen-8675592_194="551" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1" data-gtm-vis-has-fired-8675592_240="1"> How satisfied are you with the website?</p>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third-from-desktop"><p class="govuk-heading-s text-light" id="removeonmobile"></p></div>


                <div class="govuk-grid-column-one-third-from-desktop">

                    <div class="rating" id="exitbtn" name="2" style="">
                        <label for="Strongly agree" class="5 stars" style=""><input name="Strongly agree" type="radio"> ★ </label>
                        <label for="Agree" class="4 stars" style=""><input name="Agree" type="radio"> ★  </label>
                        <label for="It depends" class="3 stars" style=""> <input name="It depends" type="radio"> ★ </label>
                        <label for="Disagree" class="2 stars" style=""><input name="Disagree" type="radio"> ★ </label>
                        <label for="Strongly disagree" class="1 stars" style=""><input name="Strongly disagree" type="radio"> ★ </label>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>
<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>

                @await Component.InvokeAsync("ShowHelpLinks")

                <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" target="_blank" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="noopener noreferrer license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" target="_blank" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" rel="noopener noreferrer">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
