@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en-gb" class="govuk-template ">

<head>
    <partial name="_Head" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body class="govuk-template__body ">
    <partial name="_jsEnabled" />

    <partial name="_GovUkHeader" />

    <div class="govuk-width-container">

        <partial name="_PhaseBanner" />

        <partial name="_ErrorSummary" />

        <main class="govuk-main-wrapper" id="main-content" role="main">

            @RenderBody()

            @{
                if (IsSectionDefined("Head"))
                {
                    IgnoreSection("Head");
                }
                if (IsSectionDefined("Breadcrumb"))
                {
                    IgnoreSection("Breadcrumb");
                }
                if (IsSectionDefined("BodyTop"))
                {
                    IgnoreSection("BodyTop");
                }
                if (IsSectionDefined("Body"))
                {
                    IgnoreSection("Body");
                }
                if (IsSectionDefined("SideBarLeft"))
                {
                    IgnoreSection("SideBarLeft");
                }
                if (IsSectionDefined("SideBarRight"))
                {
                    IgnoreSection("SideBarRight");
                }
                if (IsSectionDefined("BodyFooter"))
                {
                    IgnoreSection("BodyFooter");
                }
            }

        </main>
    </div>

    <partial name="_GovUkFooter" />

    <partial name="_JQueryInclude" />

    <partial name="_JQueryInitialise" />

    @RenderSection("Scripts", required: false)
</body>
</html>
