<ul class="govuk-footer__list govuk-footer__list--columns-2" aria-label="Footer Links">
    <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="/help">
            Help
        </a>
    </li>
    <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="/help/cookies">
            Privacy and cookies
        </a>
    </li>
    <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="/help/accessibility">
            Accessibility statement
        </a>
    </li>
    <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="/help/terms-and-conditions">
            Terms and conditions
        </a>
    </li>
    <li class="govuk-footer__list-item">
        <a class="govuk-footer__link" href="/help/information-sources">
            Information sources
        </a>
    </li>
</ul>