@model DFC.Composite.Shell.ViewComponents.ShowHelpLinksViewModel

@{
    if (Model.IsOnline)
    {
        <ul class="govuk-footer__inline-list" aria-label="Footer Links">
            @foreach (var helplink in Model.HelpLinks)
            {
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="@helplink.Link">@helplink.Text</a>
                </li>
            }
        </ul>

    }
    else
    {
        <div class="govuk-footer__meta-item">
            @Html.Raw(Model.OfflineHtml)
        </div>
    }
}